.loginpages__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 
    margin-bottom: 2em;
}

.container__login{
    height: 400px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: none;
    border-radius: 1em;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    padding: 30px;
    width: 100%;
    margin: 10px;
}

.container__login h2 {
    margin-bottom: 1.5em;
    color: var(--color-red) ;
    font-weight: 700;
    font-size: 2em;
}

.container__email,
.container__password {
    width: 100%;
    font-weight: 600;
}

.container__email label,
.container__password label {
    color: black;
}

.container__email input,
.container__password input  {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    display: block;
    margin-top: 4px;
    padding: 6px 8px;
    width: 100%;
}

.login__btn {
    margin-top: 1.5em;
    width: 100%;
    background-color: var(--color-red);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    display: block;
    padding: 6px 8px;
}

.login__send-register   {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 2em;
    gap: 0.5em;
}

.login__send-register p  {
    color: black;

}