.registerpages__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 50px;
}

.registerpages__container h2{
    color: var(--color-red);
    margin-bottom: 0.8em;
}

.container__form {
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: none;
    border-radius: 1em;
    padding: 2rem;
    border-radius: 10px;
    padding: 25px;
}

.container__value{
    width: 100%;
    font-weight: 600;
}

.container__value label {
    color: black;
}

.container__value input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    display: block;
    margin-top: 4px;
    padding: 6px 8px;
}

.container__form-btn {
    margin-top: 1.5em;
    width: 100%;
    background-color: var(--color-red);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    display: block;
    padding: 6px 8px;
}